.topCont {
  background: #051524;
}
.alumni1 {
  width: 100%;
  border-radius: 10px;
}
.subHeading {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}
.bottomBar {
  text-align: center;
  width: 300px !important;
  height: 10px;
  background-color: #ecae27;
  color: wheat;
}
.topCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.textCont {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.yearCard {
  margin: 1rem;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBarCont {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
}
.searchName {
  flex: 2;
  margin: 10px !important;
}
.searchCompany {
  flex: 2;
  margin: 10px !important;
}
.searchButton {
  flex: 1;
}
.studentListCont {
  display: flex;
  justify-content: center;
}
.studentList {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
