.heading {
  width: 100%;
  color: white;
  padding: 10px;
}
.bottomBar {
  width: 200px;
  height: 10px;
  background-color: #ecae27;
  align-self: center;
  margin: 0 auto;
}
.listContainerP {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listContainer {
  width: 90%;
}
.listItem {
  width: 90%;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-top: 20px;
}
