.form {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  height: 100%;
  width: 80%;
  max-width: 1000px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.feedback {
  padding: 0;
  width: 90%;
}
.buttonContainer {
  padding: 20px;
}
.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel {
  width: 80vw;
}
.feedbackCard {
  padding: 10px;
}
.feedbackAvatar {
  display: flex;
}
