.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main a {
  padding: 10px;
  font-weight: 700;
  background-color: aliceblue;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.topText {
  align-self: center;
  padding: 1rem 1.3rem;
  color: aliceblue;
  font-size: 1.2rem;
}
.CustomCarousel {
  align-self: center;
}
.quickLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.quickLinks button:nth-child(2n) {
  margin: 10px;
  border-color: aliceblue;
}
.quickLinks a {
  text-decoration: none;
  color: aliceblue;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bottomBar {
  width: 200px !important;
  height: 10px;
  background-color: #ecae27;
  color: wheat;
  text-align: center;
  margin: 0 auto 1rem auto;
}
.studentCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.subHeading {
  padding: 10px;
}
