.container {
  overflow: hidden !important;
  min-width: 100vw;
}

.temp {
  padding: 2rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  margin-top: 10px;
  margin: 10px;
}

.topList {
  padding: 10px 30px;
  font-size: 1.2rem;
  background-color: cadetblue;

  border: 2px solid wheat;
}
.topList a {
  color: antiquewhite;
  font-weight: 800;
}
.inList {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 800px) {
  .inList {
    display: list-item;
  }
}
.inList li {
  padding: 5px;
  list-style: none;
}
.inList a {
  text-decoration: underline;
  color: aliceblue;
  padding: 5px;
  font-weight: 400;
}
