.section{
  display: flex;
justify-content: center;
align-items: center;
width: 100vw;
}
.section1 {
}
.section2 {
  display: flex;
  justify-content: center;
}
.section3 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.noticeCard{
  margin: 20px;
  max-width:1000px;
  width: 80%;
  padding: 10px;
  overflow-wrap: break-word;
}