.footer {
  background-color: aqua;
}

.socialIcons {
  display: flex;
  justify-content: center;
}
.a {
  text-decoration: none;
  color: rgb(39, 29, 29);
}
.footerLinks {
  margin: 20px;
}
.linkText {
  background-color: rgb(40, 172, 177);
  margin: 8px 3px;
  color: antiquewhite;
  font-size: 1.2rem;
  border-radius: 5px;
}
.linkText:hover {
  box-shadow: 1px 1px 1px 1px black;
}
